body {
    background-color: lightblue;
}

.code-item {
    /* margin-top: 10%; */
    /* height: 100%; */
    background: #5c92ef;
    border: 1px solid #e5e5e5;
}

.container.main {
    width: 380px;
    /* height: 35%; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.icon-group,
.code-text {
    /* margin: 10px; */
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.icon-group {
    font-size: 2.5em;
    line-height: 2.5em;
}

.icon-group i {
    padding: 15px;
}

.icon-alipay::before {
    color: #00aaee;
}

.icon-wechat::before {
    color: #00cd0d;
}

.icon-qq::before {
    color: #df1f1f
}

.code-text {
    line-height: 3em;
    font-size: 1.5em;
    margin: 3px;
}

.qrcode img {
    display: inline-block;
    border: 10px solid #fff;
    margin: 10%;
}

html,
body {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hidden {
    display: none;
}

img {
    max-width: 200px;
}
